
@for (order of AllOrders(); track order._id) {
  <div  class="card mb-3">

    <div class="card-header bg-light">
      <h5 class="m-0">Order #{{order._id}}</h5>
      <p class="m-0"><strong>Total:</strong> {{order.totalOrderPrice}} EGP</p>
      <p class="m-0"><strong>Status:</strong>
        <span [class.text-success]="order.isPaid">Paid</span> /
        <span [class.text-danger]="!order.isDelivered">Not Delivered</span>
      </p>
    </div>
    <div class="card-body">
      <h6>Shipping to: {{order.shippingAddress.city}}, {{order.shippingAddress.details}}</h6>
      <ul class="list-group">
@for (item of order.cartItems; track $index) {
        <li class="list-group-item d-flex align-items-center justify-content-between">
          <div class="d-flex align-items-center">
            <img [src]="item.product.imageCover" class="me-2" width="50" />
            <div>
              <h6 class="mb-0">{{item.product.title}}</h6>
              <small>{{item.count}} x {{item.price}} EGP</small>
            </div>
          </div>
          <span class="badge bg-primary">{{item.product.brand.name}}</span>
        </li>
      }
      </ul>
    </div>

  </div>
    }

