<section class="bg-main-light rounded-4 shadow p-4 my-2 w-75 mx-auto">
  <h1 class="h3">Cart Shop</h1>
  <p class="text-main ">total praic: {{cartItems.totalCartPrice}} EGP</p>
    <button (click)="clearAllCart()" class="btn btn-danger d-block ms-auto">  Clear All</button>

  @for (item of cartItems.products; track item.product._id) {

  <div class="row">
    <div class="col-md-1">
      <div>
        <img [src]="item.product.imageCover" class="w-100" alt="">
      </div>
    </div>
    <div class="col-md-11 d-flex justify-content-between align-items-center">
      <div>
        <h3 class="h5 ">{{item.product.title}}</h3>
        <p class="text-main">{{item.price}} EGP</p>
        <span class="text-danger cr" (click)="removeItem(item.product._id)"><i class="fas fa-trash"></i></span>
      </div>

      <div class="d-flex align-items-center gap-2">
        <span (click)="updataProduct(item.product._id,item.count + 1)" class="cr btn btn-info "><i class="fas fa-plus-circle fa-1x"></i></span>
        <span>{{item.count}}</span>
        <span (click)="updataProduct(item.product._id,item.count -1)"  class="cr btn btn-info "><i class="fas fa-minus-circle fa-1x"></i></span>
      </div>
    </div>
  </div>

  <hr>
  }
    <button [routerLink]="['/order',cartItems._id]" class=" btn-main">  order now</button>
</section>
