<nav class="navBar px-3 navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="home"><span class="text-danger fs-2 fw-bold">s</span>hop-Ease</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active-link" routerLink="/home">{{"navBar.home" | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active-link" routerLink="product">{{"navBar.product" | translate}}</a>
        </li>
     <li class="nav-item">
          <a class="nav-link" routerLinkActive="active-link" routerLink="brands">{{"navBar.brands" | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active-link" routerLink="allorders">{{"navBar.orders" | translate}}</a>


      </ul>


      <ul class="navbar-nav  ">


         <li class="nav-itently used

         @deprecated — use getCurrentLang()em dropdown">
          <a class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{"navBar.lang" | translate}}
          </a>
          <ul class="dropdown-menu">
            <li  [class.bg-info]="_TranslateService.currentLang =='en'" (click)="change('en')" ><a class="dropdown-item cr" >EN</a></li>
            <li [class.bg-info]="_TranslateService.currentLang =='ar'"><a  (click)="change('ar')"  class="dropdown-item cr" > AR</a></li>

          </ul>
        </li>
  <li class="nav-item  ">
          <a class="nav-link d-flex justify-content-center align-items-center " routerLinkActive="text-success" routerLink="cart">
            <i class="fa-solid fa-cart-shopping fa-2xl"></i>
            <span class="badge bg-info"> {{cartLenght()}}</span>

          </a>

        </li>

        <li class="nav-item">
          <a class="nav-link"><i class="fab fa-google"></i></a>
        </li>

        <li class="nav-item">
          <a class="nav-link"><i class="fab fa-instagram"></i></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" ><i class="fab fa-twitter"></i></a>
        </li>
      <li class="nav-item">
          <a class="nav-link cr" (click)="_Auth.logOut()">{{"navBar.sign Out" | translate}}</a>

      </ul>
    </div>
  </div>
</nav>
